/* Login.css */
.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f3f4f6; /* bg-gray-100 */
    padding: 1rem;
}

.login-box {
    width: 100%;
    max-width: 32rem; /* max-w-lg */
    background: white;
    border-radius: 0.5rem; /* rounded-lg */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
}

.login-title {
    grid-column: span 2;
    font-size: 1.5rem; /* text-2xl */
    font-weight: bold;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: #1f2937; /* text-gray-800 */
}

.error-message {
    color: #ef4444; /* text-red-500 */
    margin-bottom: 1rem; /* mb-4 */
}

.form-group {
    display: flex;
    align-items: center;
    gap: 1rem; /* space-x-4 */
    margin-bottom: 1rem; /* mb-4 */
}


.form-input {
    border: 1px solid #d1d5db; /* border-gray-300 */
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
    padding: 0.5rem 0.75rem; /* px-3 py-2 */
    width: 100%;
    font-size: 1rem;
}

.login-button {
    display: block;
    width: 40%;
    margin: 1rem auto 0;
    background: #3b82f6; /* bg-blue-500 */
    color: white;
    font-weight: 600;
    padding: 0.5rem;
    border-radius: 0.375rem;
    cursor: pointer;
    border: none;
    text-align: center;
}

.login-button:hover {
    background-color: #2563eb; /* hover:bg-blue-600 */
}

.signup-text {
    margin-top: 1rem; /* mt-4 */
    text-align: center;
    color: #4b5563; /* text-gray-600 */
    margin-bottom: 1rem;
}

.social-login-separator {
    display: flex;
    align-items: center;
    text-align: center;
    color: #6b7280; /* text-gray-500 */
    font-size: 0.875rem;
    margin: 2rem 0 1rem;
}
.social-login-separator::before,
.social-login-separator::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #d1d5db; /* border-gray-300 */
}
.social-login-separator::before {
    margin-right: 0.75rem;
}
.social-login-separator::after {
    margin-left: 0.75rem;
}

.signup-link {
    color: #3b82f6; /* text-blue-500 */
    cursor: pointer;
}

.kakao-login-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    width: 280px;
    max-width: 100%;
    overflow: hidden;
    transition: transform 0.2s ease, box-shadow 0.2s ease;

}
